@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    background-color: #F7F5F0;
    color: #1a1a1a;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
